body {
    background: grey;
    margin: auto;

}

header,
nav,
section,
aside,
footer {
    background: white;
    margin: 10px;
}
section {
    width:651px;
    float: left;


}

.clear {
    clear: both;
}
aside {
    width:40%;
    float: right;
    height: 128
    ;
}

